{% extends 'global/base.html' %}
{% block conteudo %}
<div class="container d-flex justify-content-center pt-5">
    <form style="width:20rem;" action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="cpf" class="form-label">Cpf</label>
            <input type="text" class="form-control" id="cpf" aria-describedby="Cpf" name="cpf" placeholder="Digite seu CPF" required>
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="nome" name="nome" placeholder="Nome" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Digite seu Email" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="senha" placeholder="Digite sua senha!" required>
        </div>
        {% comment %} <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">É Comissário? </label>
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary">Cadastrar!</button>
    </form>
</div>
{% endblock conteudo %}